.app-footer {
    height: 75px;
    background: #171717;
    color: white;
    padding: 2rem;
    font-family: Lato-bold;
    font-size: 1rem;


    .footer-logo {
        font-weight: 700;

        h2 {
            margin: 10px;
        }
    }

    .icons {
        font-size: 1.3rem;
        display: flex;
        gap: 10px;
        cursor: pointer;
    }

}